<div class="container">
  <h1>Mini Catálogo</h1>

  <div class="product-form">
    <app-product-form (productCreated)="addProduct($event)"></app-product-form>
  </div>

  <div class="controls">
    <div class="total">Total: ${{ total }}</div>
    <div class="filter-group">
      <label>Precio máximo:</label>
      <input type="number" [(ngModel)]="priceMax">
    </div>
    <button (click)="orderAsc()">↑ Asc</button>
    <button (click)="orderDesc()">↓ Desc</button>
  </div>

  <div class="product-list">
    <app-product-list [products]="filterProducts" (productDelete)="deleteProduct($event)"></app-product-list>
  </div>
</div>