:host {
  display: block;
  max-width: 500px;
  margin: 0 auto 40px auto;
  background: #2c2c44;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

input {
  width: 95%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border: 2px solid #4cafef;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #4cafef, #007bff);
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  transform: scale(1.03);
}